<ion-content class="background" [fullscreen]="true">
    <div class="content">
        <div class="container" *ngFor="let project of projects">
            <div class="card">
               <!-- front side -->
              <div class="front side glass">
                <small class="duration" *ngIf="project.beginning && project.ending">
                  {{ project.beginning | date }}
                  - 
                  {{ project.ending | date }}
                </small>
                <div class="title">{{ project.title }}</div>
                <div class="tags" *ngFor="let tag of project.tags">
                  <ion-badge mode="ios">{{ tag.title }}</ion-badge>
                </div>
              </div>
              
              <!-- back side -->
              <div class="back side glass">
                  <div>
                    Status: {{ project.status }}
                  </div>
                  <div>
                      {{ project.description }}
                  </div>
              </div>
              
            </div>
          </div>
    </div>
</ion-content>

