<ion-content class="background" [fullscreen]="true">
    <div class="content">
        <div class="container" *ngFor="let project of projects">
            <div class="card">
               <!-- front side -->
              <div class="front side glass">
                {{ project.title }}
              </div>
              
              <!-- back side -->
              <div class="back side glass">
                  <div>
                    Status: {{ project.status }}
                  </div>
                  <div>
                      {{ project.description }}
                  </div>
              </div>
              
            </div>
          </div>
    </div>
</ion-content>

