@import "/src/app/home/home.page.scss";

// overwrite stylings
.container {
  // size
  width: 20vw;
  min-height: 200px;
  height: auto;

  margin: 0 0 20px 20px;
}

.content {
  margin-top: $navbar-height + 20px;
}

.card {
  // size
  width: 20vw;
  min-height: 200px;
  height: auto;
}

