<ion-app>

  <ion-header>
    <ion-toolbar>
      <a slot="start" class="back-home" href="/home">
        <ion-title>
          <ion-img style="height:35px; width:35px;" src="/assets/icon/kmLogo_v3.png"></ion-img>
        </ion-title>
      </a>
      <ion-title slot="end">
        <span class="path">$ cd{{ currentPath }}/</span>
        <span class="blink-me logo-cursor"></span>
      </ion-title>
    </ion-toolbar>    
  </ion-header>

  <div #rendererContainer></div>
  <ion-router-outlet></ion-router-outlet>

  <ion-footer>
    <ion-footer>© 2021</ion-footer>
  </ion-footer>
</ion-app>
