<ion-content [fullscreen]="true">
  <div class="container">
    <strong>Kimberly Munjal</strong>
    <br>
    <div class="info-and-links">
      <p>Web Developer</p>
      <div class="social-icons">
        <a>
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a>
          <ion-icon name="logo-discord"></ion-icon>
        </a>
        <a>
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a>
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a>
          <ion-icon name="document-text-outline"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</ion-content>
