@import "src/app/app.component";

ion-content.background {
  --background: url('../../assets/blau-lila-2.png') no-repeat center/cover;
  z-index: -5;
}

.card {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.46);
  border-radius: 12px;
  border: 1px solid rgba(225, 226, 228, 0.3);
}

.container {
  // position
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  // glass morphism
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  position: absolute;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;

  width: 40%;
  height: auto;
  padding: 30px 0;
  z-index: 2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container strong {
  color: #5d7094;
  font-size: 38px;
  letter-spacing: 5px;
}

.info-and-links {
  margin: 20px 0 0 0 ;
}

.container p {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 50px;
  color: rgb(159, 184, 182);
  margin: 0 0 10px 0;
}

.social-icons a {
  ion-icon {
    color: #7e95c0;
    font-size: 30px;
  }
  line-height: 40px;
  margin: 0 10px 0;
}

.social-icons a:hover {
  ion-icon {
    color: rgb(159, 184, 182);
    //color: #a55653;
    cursor: pointer;
  }
}

.container a {
  text-decoration: none;
}
