@import "src/app/app.component";

/* background */
ion-content.background {
  --background: url('../../assets/gelb-blau-2.png') no-repeat center/cover;
  z-index: -5;
}

.container {
  perspective: 800px;

  // size
  width: 40vw;
  min-height: 300px;
  height: auto;

  // position
  position: absolute;
  left: 30vw;
  right: 0;
  top: 50%;
  transform: translateY(-50%);  
}

.card {
  /* Styling */
  width: 40vw;
  min-height: 300px;
  height: auto;
  
  /* card flipping effects */
  transform-style: preserve-3d;
  transition: 0.6s; 
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  /* fix rendring bug in chrome */
  transform: rotate(0deg) translateZ(1px);
}

/* Flip the card on hover */
.container:hover .card,
.back {
  transform: rotateY(-180deg) translateZ(1px);
}

/* glasscard  */
.glass {
  // position
  text-align: center;
  position: absolute;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);

  // glass morphism
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  position: absolute;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;

  padding: 30px 0;
  z-index: 2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  // flip effect
  transform-style: preserve-3d;
  transition: 0.3s; 
}

.glass p {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 50px;
  color: $light-ocker;
  margin: 0 0 10px 0;
}

/* glass content styling */
.glass strong {
  color: $medium-blue;
  font-size: 38px;
  letter-spacing: 5px;
}

.info-and-links {
  margin: 20px 0 0 0 ;
}

.social-icons a {
  ion-icon {
    color: $medium-blue;
    font-size: 30px;
  }
  line-height: 40px;
  margin: 0 10px 0;
}

.social-icons a:hover {
  ion-icon {
    color: $light-blue;
    cursor: pointer;
  }
}

.glass a {
  text-decoration: none;
}

