@import "src/app/app.component";

/* background */
ion-content.background {
  --background: url('../../assets/gelb-blau-2.png') no-repeat center/cover;
  z-index: -5;
}

.container {
  perspective: 800px;

  // size
  width: 40vw;
  min-height: 300px;
  height: auto;

  // position
  position: absolute;
  left: 30vw;
  right: 0;
  top: 50%;
  transform: translateY(-50%);  
}

.card {
  // styling
  width: 40vw;
  min-height: 300px;
  height: auto;
  
  // card flipping effects 
  transform-style: preserve-3d;
  transition: 0.6s; 
}

.side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  /* fix rendring bug in chrome */
  transform: rotate(0deg) translateZ(1px);

  // position
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Flip the card on hover */
.container:hover .card,
.back {
  transform: rotateY(-180deg) translateZ(1px);
}

/* glasscard  */
.glass {
  position: absolute;

  // glass morphism
  background: rgba(255,255,255,0.5);
  margin: 0 auto;
  padding: 30px 0;

  z-index: 2;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  // flip effect
  transform-style: preserve-3d;
  transition: 0.5s; 
}

/* glass content styling */
.glass strong {
  color: $dark-blue;
  font-size: 38px;
  letter-spacing: 5px;
}

.glass p {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 50px;
  color: $medium-blue;
  margin: 0 0 10px 0;
}

.glass a {
  text-decoration: none;
}

.glass .name {
  margin: 6vh 0 0 0;
  text-align: center;
}

.glass .instruction {
  color: $light-ocker;
}

.info-and-links {
  margin: 1vh 0 0 0 ;
}

.social-icons a {
  ion-icon {
    color: $medium-blue;
    font-size: 40px;
  }
  line-height: 50px;
  margin: 0 10px 0;
}

.social-icons a:hover {
  ion-icon {
    color: $light-blue;
    cursor: pointer;
  }
}

.projects {
  a {
    font-size: 25px;
    color: $light-ocker;
  }
}

/* Styles for if the screen size is 600px wide or less */
@media screen and (max-width: 700px) {
  .container {
    // size
    width: 60vw;
    min-height: 200px;
  
    // position
    left: 20vw;
  }
  .card {
    // styling
    width: 60vw;
    min-height: 200px;
  }
  .glass strong {
    color: $dark-blue;
    font-size: 17px;
    letter-spacing: 5px;
  }
  
  .glass p {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .glass .instruction {
    color: $light-ocker;
    font-size: 6pt;
  }

  .social-icons a {
    ion-icon {
      color: $medium-blue;
      font-size: 20px;
    }
    line-height: 30px;
    margin: 0 5px 0;
  }

  .projects {
    a {
      font-size: 15px;
    }
  }
}