@import "src/app/app.component";

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 50px;
  letter-spacing: 5px;
}

.info-and-links {
  margin: 20px 0 0 0 ;
}

.container p {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #B4936C;
  margin: 0 0 10px 0;
}

.social-icons a {
  ion-icon {
    color: #8c8c8c;
    font-size: 30px;
  }
  line-height: 40px;
  margin: 0 10px 0;
}

.social-icons a:hover {
  ion-icon {
    color: #f5726b;
    //color: #a55653;
    cursor: pointer;
  }
}

.container a {
  text-decoration: none;
}
