* {
  font-family: inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
}

// Ion Header
ion-title {
  font-family: "Courier New", inherit, sans-serif;
}

.logo-cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #adfe51;
  margin-left: 5px;
}

.blink-me {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 50px;
  line-height: 100px;
  letter-spacing: 5px;
}

#container p {
  font-size: 25px;
  line-height: 50px;

  color: #8c8c8c;

  margin: 0;
}

.social-icons a {
  ion-icon {
    color: #8c8c8c;
    font-size: 30px;
  }
  line-height: 40px;
  margin: 0 5px;
}

.social-icons a:hover {

  ion-icon {
    color: white;
    cursor: pointer;
  }
}
#container a {
  text-decoration: none;
}

