<ion-content class="background" [fullscreen]="true">
  <div class="container">
    <div class="card">
       <!-- front side -->
      <div class="front side glass">
        <div class="small">
          <small class="instruction">Hover to flip</small>
        </div>
        <div class="name">
          <strong>Kimberly Munjal</strong>
        </div>
        <div class="info-and-links">
          <p>Full Stack Developer</p>
        </div>
      </div>
      
      <!-- back side -->
      <div class="back side glass">
        <!-- <div class="info-and-links">
          <p>{{ visitCount }}</p>
        </div> -->
        <div class="social-icons">
          <a href="https://github.com/kimiannalena">
            <ion-icon name="logo-github"></ion-icon>
          </a>
          <a href="https://twitter.com/kimi_annalena">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a href="https://www.linkedin.com/in/kimberly-a-m/">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          <a onclick="window.open('/assets/files/2_lebenslauf.pdf')" target="_blank">
            <ion-icon name="document-text-outline"></ion-icon>
          </a>
        </div>
        <div class="projects">
          <a href="/projects">Projects</a>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>

